/*** Awesome Table ***/

/* filtered results information : last - first / total number of result */
.count {
	border-top:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}

/* loader progress bar */
.loader {
	background-color:#db4437;
}


.photo img {
	object-fit: cover;
	max-width: none !important;
	max-height: none !important;
	height: 150px;
}
iframe {
	overflow: scroll !important;
	-webkit-overflow-scrolling: touch;
}
.awesomeTable-viz-slideShow .slideShow-image {
	background-size: contain !important;
}
